<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757827500353-rmhbbbi04tq28mlooamfbcgj8mt9o19u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757827500353-rmhbbbi04tq28mlooamfbcgj8mt9o19u</string>
	<key>API_KEY</key>
	<string>AIzaSyD0ib8Y-XINUzuQVh9awtieOsf3A_9iqjk</string>
	<key>GCM_SENDER_ID</key>
	<string>757827500353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bakeryOrderSystem</string>
	<key>PROJECT_ID</key>
	<string>bakeryapp-a6c40</string>
	<key>STORAGE_BUCKET</key>
	<string>bakeryapp-a6c40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757827500353:ios:e42e3ecb585f8871a609c0</string>
</dict>
</plist>